<div class="ad-wrapper" [style.minHeight.px]="height">
    <amp-ad
        layout="fixed"
        width="1132"
        height="80"
        type="adsense"
        data-ad-client="ca-pub-1070072434264812"
        data-ad-slot="2914632082">
    </amp-ad>

    <!--
    @if (showFallback) {
        <div class="ad-placeholder" [style.width.px]="width" [style.height.px]="height">
            @for(line of message.split('\n'); track $index) {
                <div>{{ line }}</div>
            }
        </div>
    }
    -->
</div>